<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <appSettings>  
    <add key="bitcoin-bisq-lmdb" value="C:/filepath/BisqData/bitcoin-bisq-v7.lmdb"/>
    <add key="bitcoin-cluster-lmdb" value="C:/filepath/ClusterData/bitcoin-addrs-v1.lmdb"/>
    <add key="lmdb-max-dbs" value="30"/>
    <add key="verbose" value="false"/>
    <add key="load-cluster-data" value="false"/>
    <add key="create-graphs" value="false"/>
    <add key="insert-sql-data" value="true"/>
    <add key="load-extra-proto-files" value="true"/>
    <add key="connection-string" value="connestionstring"/>
    <add key="sql-file-path" value="C:\filepath\BisqAnalyser\BisqAnalysisArtefact\BisqAnalyser\BisqAnalyser\SQL"/>
    <add key="proto-data-path" value="C:\filepath\Bisq\btc_mainnet\db"/>
    <add key="legacy-proto-data-path" value="C:\filepath\LegacyBisqProtoFiles"/>
    <add key="gnuplot-file-path" value="C:\filepath\BisqAnalysisArtefact\BisqAnalyser\BisqAnalyser\Gnuplot"/>
    <add key="tag-db-path" value="C:\filepath\BisqAnalyser\BisqAnalysisArtefact\BisqAnalyser\BisqAnalyser\Tags\AddressTags.json"/>
    <add key="run-clustering" value="false"/>
  </appSettings>  
</configuration>
